@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.title {
    font-family: "Bree Serif";
    font-size: 30px;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    font-weight: 500;
}

.background-style {
    background-color: #1b1b1b;
    padding: 10px;
}

.image-style {
    height: 200px;
    width: 120px;
}

.card-design {
    background-color: #e6f6ff;
    margin: 15px;
    border-radius: 8px;
}

.main-heading {
    font-family: "Bree Serif";
    font-size: 20px;
    color: #183b56;
    margin: 5px;
    padding: 5px;
    font-weight: 500;
}

.main-description {
    font-family: "Bree Serif";
    font-size: 15px;
    color: #06070d;
    margin: 5px;
    padding: 5px;
}

.description {
    font-family: "Bree Serif";
    font-size: 10px;
    color: #183b56;
    margin: 5px;
    padding: 5px;
}

.button {
    margin: 15px;
    padding: 5px;
}

.sub-heading {
    font-family: "Bree Serif";
    font-size: 23px;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    font-weight: 500;
}

.card-style {
    margin: 15px;
}

.heading {
    font-family: "Bree Serif";
    font-size: 20px;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    font-weight: 500;
}

.paragraph {
    font-family: "Bree Serif";
    font-size: 15px;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
}

.detail-card {
    padding: 20px;
    text-align: center;
}

.image-design {
    height: 250px;
    width: 175px;
    border-radius: 8px;
}

.card-heading {
    font-family: "Bree Serif";
    font-size: 25px;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    font-weight: 500;
}

.card-description {
    font-family: "Bree Serif";
    font-size: 10px;
    color: #9aa5b1;
    margin: 5px;
    padding: 5px;
}

.card-paragraph {
    margin: 5px;
    font-family: "Bree Serif";
    font-size: 13px;
    color: #e4e7eb;
}

.back-to-static-projects{
    background-image: radial-gradient(#ffffff,#4b6cc1);
    color: black;
    font-family: 'Roboto';
    font-weight: bold;
    height: 50px;
    width: 100px;
    padding: 5px;
   margin: 30px;
   border-width: 0px;
   border-radius: 10px;
}