@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.background-container{
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png');
    height: 100vh;
    background-size: cover;
}

.card-background{
    background-color: #00000080;
    border-color: #48ee59;
    border-style: solid;
    border-width: 5px;
    margin: 30px;
}

.card-description{
    color: white;
    font-family: 'Bree Serif';
    font-size: 55px;
    text-align: center;
    padding: 40px;
}

.back-to-static-projects{
    background-image: radial-gradient(#ffffff,#4b6cc1);
    color: black;
    font-family: 'Roboto';
    font-weight: bold;
    height: 50px;
    width: 100px;
    padding: 5px;
   margin: 30px;
   border-width: 0px;
   border-radius: 10px;
}