@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.food-background-container{
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png');
    height: 100vh;
    background-size: cover;
}
.food-card{
    background-color: #f6c56e;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 25px;
    text-align: left;
}
.food-page-heading{
    color: #323f4b;
    font-family: 'Bree Serif';
    font-size: 25px;
    font-weight: 600;
}
.food-page-paragraph{
    color: #323f4b;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
}
.food-page-button{
    background-color: #ffffff;
    border-radius: 10px;
    border-width: 0px;
    padding: 5px;
    text-align: center;
    color: #323f4b;
    font-family: 'Roboto';
    font-size: 15px;
    height: 40px;
    width: 130px;
    font-weight: bold;
}

.back-to-static-projects{
    background-image: radial-gradient(#ffffff,#4b6cc1);
    color: black;
    font-family: 'Roboto';
    font-weight: bold;
    height: 50px;
    width: 100px;
    padding: 5px;
   margin: 30px;
   border-width: 0px;
   border-radius: 10px;
}