@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.projects-section {
    background-color: #8AAAE5;
    height: 100vh;
}

h2 {
    color: #466378;
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: bold;
}

h1 {
    color: white;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: bold;
}

.card-background {
    background-color: #ffffff;
    border-radius: 50px;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    padding: 30px;
    margin-top: 5%;
}

.sub-heading {
    color: #000000;
    font-family: 'Bree Serif';
    font-size: 30px;
    font-weight: normal;
}

.paragraph {
    color: #9aa5b1;
    font-family: 'Roboto';
    font-size: 22px;
}

a {
    color: #4b6cc1;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    padding: 3px;
}

.projects-image-container {
    background-color: #8AAAE5;
    height: 200px;
    width: 240px;
}

.about-to-home{
    background-image: radial-gradient(#ffffff,#4b6cc1);
    color: black;
    font-family: 'Roboto';
    font-weight: bold;
   
}
